body, html {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    box-sizing: border-box;
}

.section-about {
    background-image: url('/images/backgrownd.jpg');
    background-size: cover;
    background-position: center;
}

.section-projects {
    background-image: url('/images/backgrownd.jpg');
    background-size: cover;
    background-position: center;
}

.section-skills {
    background-image: url('/images/backgrownd.jpg');
    background-size: cover;
    background-position: center;
}

.section-contact {
    background-image: url('/images/backgrownd.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.section-about,
.section-projects,
.section-skills,
.section-contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-projects,
.section-skills {
    padding: 2rem 1rem;
}

@media (min-width: 768px) {
.section-about {
    padding: 0 2rem;
}
}

@media (max-width: 768px) {
    .section-about { 
        width: 100vw; 
    }

    header {
        width: 100vw;
        margin-bottom: 2rem;
    }

    .section-about .flex {
        width: 100%; 
    }
}
