.section-about {
    background-image: url('/images/backgrownd.jpg');
    background-size: cover;
    background-position: center;
}

.section-projects {
    background-image: url('/images/backgrownd.jpg');
    background-size: cover;
    background-position: center;
}

.section-skills {
    background-image: url('/images/backgrownd.jpg');
    background-size: cover;
    background-position: center;
}

.section-contact {
    background-image: url('/images/backgrownd.jpg');
    background-size: cover;
    background-position: center;
}