.rainbow-text {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
0% {
    background-position: 0%;
}
100% {
    background-position: 400%;
}
}

.a-rainbow-text {
display: inline-flex;
align-items: center;
justify-content: center;
background-color: #bfdbfe; 
color: #1e40af; 
border-radius: 9999px; 
padding: 10px 20px;
}
