.rainbow-text {
    background: linear-gradient(90deg, #000000, #555555, #999999, #555555, #000000);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.a-rainbow-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #bfdbfe;
    color: #ffffff; 
    border-radius: 9999px; 
    padding: 10px 20px;
}
@media (max-width: 768px) {
    .ml-0 {
        margin-left: 0;
    }

    .AboutMe-container {
        width: 80%;
    }

    .centrado{
        display: flex;
        justify-content: center;
    }
}

